body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
  color: lightblue;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}


ul {
  padding-inline-start: 10px;
  list-style: none;
  border-left: 1px solid lightblue;
}

a {
  color: lightblue;
  text-decoration: none;
}

.active {
  margin-left: 10px;
}

.red {
  color: red;
}

td a {
  color: white;
}

td a:hover {
  text-decoration: underline;
}

.news-header {
  margin-bottom: 40px;
}

.article-created {
  font-size: 11px;
}

article {
  padding-bottom: 5px;
  border-bottom: 1px solid lightblue;
}

@media only screen and (min-width: 768px) {
  .wrap {
    display: flex;
  }

  nav {
    margin-right: calc(20px + 2vw);
  }
}